BASIC_AUTH_PASSWORD = "password"
mieleClientId = "id"
mieleSecretId = "secret"
mieleAppliances = 1, 2
boschClientId = "id"
boschSecretId = "secret"
boschAppliance = "appliance"
favouriteHomeKit = scene 1, scene 2
broombotModel = "J7+"
broombotBlid = "blid"
broombotPassword = "pass"
broombotIp = "192.168.1.1"
mopbotModel = "M6"
mopbotBlid = "blid"
mopbotPassword = "pass"
mopbotIp = "192.168.1.2"
carLogin = "email@example.com"
carPassword = "password"
carPin = "1234"
RHIZOME_PASSWORD = "password"
DOGTOPIA_TOKEN = "token"
CAMERA_URL = "https://"
DOGTOPIA_SCHEDULE_CODE = "COOODE"
DOGTOPIA_SCHEDULE_REQUEST = "URL ENCODED REQUEST"
DOGTOPIA_SCHEDLUE_URL = "A URL"
