---
name: Manual Release

"on":
  workflow_dispatch:
    inputs:
      version_type:
        description: 'Version increment type (major, minor, patch) or specific version (1.2.3)'
        required: true
        default: 'patch'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Configure Git User
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"

      - name: Bump version and push tag
        run: |
          npm version ${{ github.event.inputs.version_type }} -m "chore: release %s"
          git push origin main --follow-tags
